.carousel-img__container{
  width: 100%;
  display: grid;
  grid-column: 2 / span 8;
  grid-row: 1 / span 10;
  .carousel-container__img{
    width: 100%;
    height: 100%;
    grid-column:inherit;
    grid-row: inherit;
    z-index: 0;
  }
  @keyframes bringToFront { 
    
    0% {
      opacity: .2;
    }
    100% {
      opacity: 1;
    }
  }

  &:hover{
    z-index: 10;
     animation: bringToFront .5s ease-in;
     cursor: pointer;
    .arrow-icons{
      z-index: 11;
    }
  }
  .arrow-icons{
    font-size: 25px;
    z-index: 1;
  }
  .left-arrow{ 
    grid-column: 2;
    grid-row: 8;
  }
  .rigth-arrow{
     grid-column: 9;
    grid-row: 8;
  }
}
