
.projects-container__menu__div{
  width: calc(100% - 3rem);
  height: 50px; 
  margin: 0 1rem;
  display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    li{
      height: 35px;
      width: 6rem;
      padding:.4rem;
      margin: 0 1rem;
      font-size: 15px; 
      display:flex;
      justify-content: center;
      align-items: center;
    }
  }
  .actived{ 
    border-radius: initial;
  }
}