.pdf-container{
    width: calc(100% - 4rem);
    padding: 0rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .pdf-container__iframe{
        width: 80%;
        height: 75vh;
    }
}